<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="style.css">
        <title><%= name %></title>
    </head>
    <body>
        <div id="container">
            <h1>Details Page for <%= name %></h1>
            <img src="<%= photo %>" style = 'width:500px;  height: 300px;'>
            <div id="specs">
                <h3>Favorite Food: <%= favoriteFood %></h3>
                <h3>Age: <%= age %></h3>
                <h3>Sleeping Spots:</h3>
                <ul>
                    <% for (let i=0; i < sleepingSpots.length; i++) { %>
                            <p><%= sleepingSpots[i] %></p>
                    <% } %>
                </ul>
            </div>
            <div>
                <a href ="/cats"><button>Cats</button></a>
            </div>
        </div>
        
    </body>
</html>